extends /layout/_Layout

block content
	include /components/_top-line
	include /components/_header
	include /components/_testimonials
	include /components/_cause
	include /components/_prices
	include /components/_workers
	include /components/_feedback
	include /components/_rating
	include /components/_qa
	include /components/_callback
	include /components/_contacts
	include /components/_footer