section.callback
	.wrapper.callback__wrapper
		.callback__heading
			h2.callback__title Вызов мастера
			p.callback__preheading.text--fw-500 Оставьте заявку сейчас и получите 
				span.text--primary скидку 15%

		.callback__form
			input.btn.text--dark.text--fw-500.callback__input.js-phone-input(type='text'  inputmode="numeric"
			placeholder='Номер телефона')
			button.btn.btn--fill.btn--primary.text--light.text--fw-500.callback__btn Заказать звонок