footer.footer
	.wrapper.footer__wrapper
		.footer__logo
			img(src='img/footer-logo.svg')

		nav.footer__nav
			a.footer__link Диагностика
			a.footer__link Стоимость
			a.footer__link Мастера
			a.footer__link Отзывы
			a.footer__link Вопросы
			a.footer__link Карта сайта

		.footer__payment-methods
			p.footer__payment-title Способы оплаты:

			ul.footer__list
				li.footer__item
					img(src='img/mir.png')
				li.footer__item
					img(src='img/master.png')
				li.footer__item
					img(src='img/visa.png')
				li.footer__item
					img(src='img/apple.png')
				li.footer__item
					img(src='img/google.png')
				li.footer__item.text--fw-500 Наличные

		.footer__copyright
			p Сервис ремонта бытовой и цифровой техники
			p ЧПТУП «МИКАИЛ» 192007601
